img {
  object-fit: cover;
  max-height: 20rem;
}

select {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.primary-square {
  width: 2rem;
  height: 2rem;
}

.secondary-square {
  width: 1.5rem;
  height: 1.5rem;
}

.primary-square,
.secondary-square {
  border: 2.5px solid black;
  border-radius: 2px;
}

.upload-squares .primary-square,
.upload-squares .secondary-square {
  cursor: pointer;
}

.inventory-article .primary-square,
.inventory-article .secondary-square {
  border: 2px solid black;
}

.inventory-article .primary-square {
  width: 1.5rem;
  height: 1.5rem;
}

.inventory-article .secondary-square {
  width: 1.2rem;
  height: 1.2rem;
}

.inventory-article img,
.outfit-article img {
  width: 10rem;
  height: 10rem;
}

.outfit-article .primary-square {
  width: 1.4rem;
  height: 1.4rem;
}

.outfit-article .secondary-square {
  width: 1.1rem;
  height: 1.1rem;
}

.inventory-squares-col {
  max-width: 10rem !important;
}

.icon-x-large {
  font-size: x-large;
  cursor: pointer;
}

li:hover {
  color: white;
  background-color: rgb(0 0 0 / 60%);
}

.container-max-width {
  max-width: 620px !important;
}

.outfit-container {
  max-width: 15rem !important;
}

.auth-img {
  width: 7rem !important;
}

.object-fit-contain {
  object-fit: contain;
}

.spinner-min-height {
  min-height: 14rem;
}
