img {
  object-fit: cover;
  max-height: 20rem;
}

select {
  cursor: pointer;
}

.primary-square,
.secondary-square {
  border: 2.5px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.primary-square {
  width: 2rem;
  height: 2rem;
}

.secondary-square {
  width: 1.5rem;
  height: 1.5rem;
}

.bottom-container {
  height: 10rem;
}

.camera-img {
  bottom: 7.5rem;
}

.inventory-article .primary-square,
.secondary-square {
  border: 2px solid black;
  border-radius: 2px;
  cursor: auto;
}

.inventory-article .primary-square {
  width: 1.5rem;
  height: 1.5rem;
}

.inventory-article .secondary-square {
  width: 1.2rem;
  height: 1.2rem;
}

.inventory-article img {
  width: 10rem;
  height: 10rem;
}
